.center-text{
  text-align: center;
}

.signin-form{
  width: 40vw;
  border: solid gray 1px;
  border-radius: .5rem;
  padding: 30px 30px;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 25vh 0 5vh 0;
}