.center-text{
  text-align: center;
}

.signin-form, .sign-up > .flex-col{
  width: 40vw;
  border: solid gray 1px;
  border-radius: .5rem;
  padding: 30px 30px;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aem-header{
  margin: 25vh 0 5vh 0;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  justify-content: center;
}

.flex-col > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.flex-col label {
  margin-bottom: 5px;
}

.sign-up{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sign-up > .flex-col{
  margin-top: 10vh;
}

.main-btn{
  margin: 15vh 10vw;
  padding: 10vh 5 vw;
}

.danger{
  color: rgb(255, 85, 85);
}
/* .home-container{
  
} */